/*********** Common style ***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.margin {
    margin: 1rem 2rem 0.5rem;
}

.overflow {
    overflow: auto;
}

/*********** Main style ***********/
main {
    padding: 0.3rem 0;
    width: 100%;
    height: 92%;
}

.settings div {
    background-color: rgb(62, 62, 62);
    border-radius: 5px;
    padding: 0.1rem 0.2rem;
    margin-right: 0.3rem;
    color: white;
    font-size: small;
}

.card {
    margin: 0.2rem;
    position: relative;
    flex-grow: 3;
}

.user {
    position: absolute;
    bottom: 2%;
    left: 0;
    padding: 0.1em;
    background-color: rgba(128, 128, 128, 0.372);
    border-radius: .3em;
    color: white;
    font-size: 92%;
}

.img-zoom {
    display: block;
    width: 100%;
    border-radius: .3em;
}

/*********** Footer style ***********/

footer {
    width: 100%;
    height: 8%;
    background-color: rgb(53, 53, 53);
    font-size: .6rem;
    color: white;
}

.option {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

.big {
    font-size: 1.2rem;
}

.close {
    height: 8vh;
    background-color: rgb(90, 90, 90);
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
}